html{
    margin: 0px;
    padding: 0px;
    width: available;
    height: available;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:#d7d7d7;
}
#deco {
    width: 4vh;
    height:100vh;
    background-color:#444444;
    float: left;
}

#FormInscri
{
    background-color: #a31717 ;
    width: 18vw;
    height: 100vh;
    font-weight: bold;
    float: left;
    }





.box {
    display: none;
    background: #ccc;
    width: 12vw;
    height: 20vh;
}
#trigger:checked + .box {
    display: block;
}
#trigger{
    display: none;
}
#slideshow {
    overflow: hidden;
    height: 60vh;
    width: 56.3vw;
    margin: 0 auto;
}

#deco2 {
    border:10px solid #444444;
    position: absolute;
    top:18.5vh;
    left:31.3vw;
    height:38.2vh;
    width:56vw;
}


.slide-wrapper {
    width: 4500px;
    margin: 150px;
    -webkit-animation: slide 25s linear infinite;
}

.slide {
    float: left;
    height: 300px;
    width: 900px;
}

@-webkit-keyframes slide {
    10% {margin-left: 0px;}
    20% {margin-left: -900px;}
    30% {margin-left: -900px;}
    40% {margin-left: -1800px;}
    50% {margin-left: -1800px;}
    60% {margin-left: -2700px;}
    70% {margin-left: -2700px;}
    80% {margin-left: -3600px;}
    90% {margin-left: -3600px;}
}

#Description {
    margin-top: 10vh;
    margin-left: 28vw;
    width: 65vw;
}