html{
    margin: 0px;
    padding: 0px;
    width: available;
    height: available;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:#d7d7d7;
}
#deco {
    width: 40px;
    height:764px;
    background-color:#444444;
    float: left;
}

#FormInscri
{
    background-color: #a31717 ;
    width: 280px;
    height: 764px;
    font-weight: bold;
    float: left;
    }





.box {
    display: none;
    background: #ccc;
    width: 200px;
    height: 100px;
}
#trigger:checked + .box {
    display: block;
}
#trigger{
    display: none;
}
#slideshow {
    overflow: hidden;
    height: 450px;
    width: 900px;
    margin: 0 auto;
}

#deco2 {
    border: solid red;


}


.slide-wrapper {
    width: 4500px;
    margin: 150px;
    -webkit-animation: slide 25s linear infinite;
}

.slide {
    float: left;
    height: 300px;
    width: 900px;
}

@-webkit-keyframes slide {
    10% {margin-left: 0px;}
    20% {margin-left: -900px;}
    30% {margin-left: -900px;}
    40% {margin-left: -1800px;}
    50% {margin-left: -1800px;}
    60% {margin-left: -2700px;}
    70% {margin-left: -2700px;}
    80% {margin-left: -3600px;}
    90% {margin-left: -3600px;}
}
